:root {
    --my-padding: 0.4rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    color: white;
    height: 100vh;
    text-align: center;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2.5fr 1fr 1fr 0.7fr;
    grid-template-areas: 
    "header menu menu menu"
    "hero hero hero hero"
    "main main image image"
    "main main extra extra"
    "banner banner banner banner"
    ;
}

.header {
    background-color: black;
    grid-area: header;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.menu {
    background-color: red;
    grid-area: menu;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.hero {
    background-color: blue;
    grid-area: hero;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.main {
    background-color: brown;
    grid-area: main;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.banner {
    background-color: orange;
    grid-area: banner;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.extra {
    background-color: green;
    grid-area: extra;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

.image {
    background-color: gray;
    grid-area: image;
    padding: var(--my-padding);
    display: grid;
    align-items: center;
}

@media (max-width: 1024px) {
    
    .container {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 2fr 2fr 1fr 1fr;
        grid-template-areas: 
        "header header header header"
        "hero hero hero hero"
        "menu main main main"
        "menu banner banner banner"
        "menu extra extra image"
        ;
    }

}

@media (max-width: 480px){

    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1.5fr 2fr 1.2fr 1.2fr 1.2fr;
        grid-template-areas: 
        "header"
        "menu"
        "hero"
        "main"
        "banner"
        "extra"
        "image"

        ;
    }

}